<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionData</key>
	<array>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>name</key>
			<string>婚礼人员</string>
			<key>width</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>name</key>
			<string></string>
			<key>width</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>name</key>
			<string>花艺设计</string>
			<key>width</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>name</key>
			<string></string>
			<key>width</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>name</key>
			<string></string>
			<key>width</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>name</key>
			<string>场地搭建</string>
			<key>width</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>name</key>
			<string></string>
			<key>width</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>name</key>
			<string>舞美灯光</string>
			<key>width</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>name</key>
			<string>婚礼道具</string>
			<key>width</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>name</key>
			<string></string>
			<key>width</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>name</key>
			<string></string>
			<key>width</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>0</integer>
			<key>name</key>
			<string>套餐定制</string>
			<key>width</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
